@use 'base/variables' as v;
@use 'base/mixins' as m;

//ESTILOS DE LA PAGINA NUEVA TAREA

.contenedor-nueva-tarea{
    display: flex;
    justify-content: center;

    .agregar-tarea{
        cursor: pointer;
        @include m.boton(v.$cyan, v.$blanco);
        
    }
}

.listado-tareas{
    list-style: none;
    padding: 0;
    margin-top: 3rem;

    .no-tareas{
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: lighten(v.$rojo, 15%);
    }
}

.tarea{
    padding: .5rem 1rem;
    border-bottom: 2px solid darken(v.$grisClaro, 5%);
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-of-type{
        border: none;
    }

    p{
        font-size: 1.8rem;

        &:hover{
            color: v.$negro;
            cursor: pointer;
        }
    }

    .opciones{
        display: flex;
        gap: 1rem;

        button{
            border: none;
            font-size: 1.2rem;
            padding: .5rem 1.2rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;
            &:hover{
                cursor: pointer;
            }
        }

        .completa{
            background-color: v.$azul;
            color: v.$blanco;

            &:hover{
                background-color: darken(v.$azul, 10%);
            }
        }

        .pendiente{
            background-color: v.$naranja;
            color: v.$blanco;

            &:hover{
                background-color: darken(v.$naranja, 10%);
            }
        }

        .eliminar-tarea{
            background-color: v.$rojo;
            color: v.$blanco;

            &:hover{
                background-color: darken(v.$rojo, 10%);
            }
        }
    }
}